.contact-us{
    margin-top: 70px;

    h3{
        font-weight: 700;
        line-height: 36px;
        color: $darkColor;
        margin-bottom: 20px;
    }

    .contact-p{
        font-size: 15px;
        color: rgba(0, 0, 0, 0.399);
        font-weight: 500;
        margin-bottom: 25px;
    }

    .element{
        margin: 15px 0;

        i{
            font-size: 36px;
            color: $blueColor;
        }

        .text{
            span{
                font-size: 16px;
                font-weight: 700;
                color: $darkColor;
            }
            p{
                font-size: 14px;
                color: rgba(0, 0, 0, 0.399);
                font-weight: 500;
            }
        }
    }

    input{
        width: 100%;
        margin: 0 0 30px; 
        padding: 10px 20px;
        border: 1px #e1eeff solid;
        outline: 0.4px rgba(0, 0, 0, 0.132) solid;
    }

    button{
        text-decoration: none;
        padding: 8px 28px;
        border: none;
        background-color: $blueColor;
        color: white;
        font-size: 14px;
        transition: 0.4s ease-in-out;

        &:hover{
            background-color: $darkColor;
        }
    }
}