
.login-page {
    display: flex;
  }
  
  .login-page .container {
    padding-left: 110px;
  }
  
  .login {
    background-color: #f2f5fb;
    padding-bottom: 25px;
  }
  
  .login-btn {
    background-color: $blueColor;
    border: 0;
    color: white;
    border-radius: 10px;
    padding: 8px 20px;
    margin: 15px 0;
  }
  .login-btn a {
    text-decoration: none;
    color: unset;
  }
  .login h5,
  .register h5 {
    padding: 20px 0;
    font-weight: 300;
  }
  
  .login p,
  .register p {
    font-weight: 600;
    padding-top: 10px;
  }
  
  .register {
    padding-bottom: 25px;
  }
  
  .register-page .container {
    padding-left: 110px;
  }
  
  .login-page h1 {
    margin-top: 60px;
    font-weight: 700;
    font-size: 32px;
  }
  
  .login input,
  .register input {
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.303);
    margin: 10px auto;
    padding: 10px 7px;
  }
  
  .accept-input {
    width: 20px;
  }
  
  .accept-p {
    display: inline-block;
  }
  
  .checkbox {
    display: flex;
    width: 5%;
  }
  
  .remember-input {
    width: 50%;
  }
  
  .checkbox-input {
    width: 10px;
  }
  
  .checkbox label {
    width: 100%;
    margin-left: 10px;
  }
  
  .radios {
    display: flex;
  }
  
  .radios label {
    padding-left: 8px;
  }
  
  .radio {
    padding: 20px 55px 20px 0;
  }
  
  .radio input {
    width: 15px;
  }
  
  .login-btn {
    background-color: var(--mainColor);
    border: 0;
    color: white;
    border-radius: 10px;
    padding: 8px 20px;
    margin: 15px 0;
  }
  .login-btn a {
    text-decoration: none;
    color: unset;
  }